@* Partial View: 코드 재사용이 가능한 Razor View 파일(파일명에 '_' 반드시 사용) *@

@model StudentTeacherViewModel

<h2>Our Teachers</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model.Teachers)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Class</td>
            </tr>
        }
    </tbody>
</table>
