@model ReflectionIT.Mvc.Paging.PagingList<MyApp.Models.Teacher>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="jumbotron">
        <h1>환영합니다</h1>
        <p>We are learning ASP.NET Core</p>
    </div>
</div>

@*<nav>
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>*@

<h2>Our Teachers</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Class</td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <vc:pager paging-list="@Model" />
</nav>