@* Razor View 파일: C#코드가 HTML코드와 함께 렌더링되는 View 파일 *@

@* @기호: C#코드를 쓸 수 있게 해주는 접두사 *@
@using MyApp.Models
@model Student

@* asp-for TagHelper 사용시 id와 Name 속성 자동 생성됨 *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
</head>
<body>
    <div style="margin:10px;">
        <h2>회원 등록</h2>
        <form class="form form-horizontal" method="post">
            <div class="form-group">
                <img src="~/images/main.jpg" alt="메인이미지" style="width:290px; height:320px;margin:10px;" />
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Name:</label>
                    @* TagHelper 추가 *@
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Age:</label>
                    @* TagHelper 추가 *@
                    <input type="text" class="form-control" asp-for="Age" />
                    <span asp-validation-for="Age"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Country:</label>
                    @* TagHelper 추가 *@
                    <input type="text" class="form-control" asp-for="Country" />
                    <span asp-validation-for="Country"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>
</html>